@keyframes loading {
    0% {
        cy: 10;
    }

    25% {
        cy: 3;
    }

    50% {
        cy: 10;
    }
}

canvas {
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 2;
}

button {
    position: absolute;
    transition: 0.09s;

    width: 250px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: rgb(0, 0, 0, 0.35) 0 5px 15px;
    font-family: 'Quicksand', sans-serif;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

/* // READY STATE */
button.ready {
    left: 30%;
    top: 50%;

    .submitMessage svg {
        opacity: 1;
        top: 1px;
        transition: top .4s ease 600ms, opacity .3s linear 600ms;
    }

    .submitMessage .button-text span {
        top: 0;
        opacity: 1;
        transition: all .2s ease calc(var(--dr) + 600ms);
    }
}

/* // LOADING STATE */
button.loading {
    left: 30%;
    top: 50%;

    &::before {
        transition: width .3s ease;
        width: 80%;
    }

    .loadingMessage {
        opacity: 1;
    }

    .loadingCircle {
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: loading;
        /* cy: 10; */
    }
}

/* // COMPLETE STATE */
button.complete {
    left: 30%;
    top: 50%;

    .submitMessage svg {
        top: -30px;
        transition: none;
    }

    .submitMessage .button-text span {
        top: -8px;
        transition: none;
    }

    .loadingMessage {
        top: 80px;
    }

    .successMessage .button-text span {
        left: 0;
        opacity: 1;
        transition: all .2s ease calc(var(--d) + 1000ms);
    }

    .successMessage svg {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset .3s ease-in-out 1.4s;
    }
}

.button-text span {
    opacity: 0;
    position: relative;
}

.message {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.message svg {
    display: inline-block;
    fill: none;
    margin-right: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.submitMessage {
    .button-text span {
        top: 8px;
        transition: all .2s ease var(--d);
    }

    svg {
        color: #ff0000;
        margin-left: -1px;
        opacity: 0;
        position: relative;
        top: 30px;
        transition: top .4s ease, opacity .3s linear;
        width: 14px;
    }
}

.loadingMessage {
    opacity: 0;
    transition: opacity .3s linear .3s, top .4s cubic-bezier(.22, 0, .41, -0.57);

    svg {
        fill: #ff0000;
        margin: 0;
        width: 22px;
    }
}

.successMessage {
    .button-text span {
        left: 5px;
        transition: all .2s ease var(--dr);
    }

    svg {
        color: #088b01;
        stroke-dasharray: 20;
        stroke-dashoffset: 20;
        transition: stroke-dashoffset .3s ease-in-out;
        width: 14px;
    }
}

.loadingCircle:nth-child(2) {
    animation-delay: .1s
}

.loadingCircle:nth-child(3) {
    animation-delay: .2s
}

body {
    margin: 0;
    /* -webkit-font-smoothing: antialiased; */
}

body * {
    box-sizing: border-box;
    cursor: url('./img/cursor-ussual.png'), pointer;

}

.board {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(102.76deg,
            rgba(18, 18, 17, 0) 2.03%,
            rgba(18, 18, 17, 0.6) 58.46%,
            rgba(18, 18, 17, 0.787) 90.36%),
            url(../img/coffee.jpg);

}

.btn {
    left: 50%;
    top: 50%;
}

.title {
    position: absolute;
    left: 35%;
    top: 30%;

    color: #ffffff;
    font-size: 70px;
}